*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#030303;
color:white;
min-height:100vh;

}



#loader{

position:fixed;
width:100%;
height:100vh;
background:#000;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
z-index:999;

}


#loader img{

width:160px;

}


.spin{

width:50px;
height:50px;
border:4px solid #ff1e1e;
border-top-color:transparent;
border-radius:50%;
animation:spin 1s linear infinite;
margin:20px;

}


@keyframes spin{

100%{
transform:rotate(360deg);
}

}



.main{

display:none;

}


header{

text-align:center;
padding:40px;

}



.logo{

width:120px;

}



h1{

font-size:40px;
letter-spacing:3px;

}


header p{

color:#ff3030;

}



.search-box{

display:flex;
justify-content:center;
padding:20px;

}



input{

width:90%;
max-width:600px;

padding:18px;

border-radius:30px;

background:rgba(255,255,255,.1);

backdrop-filter:blur(20px);

border:1px solid #ff3030;

color:white;

font-size:18px;

outline:none;

}



.title{

text-align:center;
margin:30px;

}



#movies{

padding:30px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}



.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,50,50,.4);

border-radius:25px;

padding:25px;

text-align:center;

}



.poster{

width:100%;
height:180px;
object-fit:cover;
border-radius:20px;
margin-bottom:15px;

}



.noimg{

height:180px;

display:flex;

align-items:center;

justify-content:center;

font-size:50px;

}



.category{

color:#ff4444;
margin:15px;

}



button{

padding:14px 35px;

border-radius:30px;

border:none;

background:#ff2020;

color:white;

cursor:pointer;

}



button:hover{

transform:scale(1.08);

}



footer{

margin:40px;
display:flex;
align-items:center;
gap:20px;

}

footer img{

width:60px;

}